:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    box-sizing: border-box;
    max-width: 1556px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
 
/* Menu */
.header-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.header-bg{
    background: var(--purple-bg);
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.menu-item a{
    font: 400 1.3rem/1.35 'Roboto',sans-serif;
    color: var(--white);
}

.menu-item .home{
    font-size: 700;
}

.header-input{
    width: 300px;
    height: 44px;
    background-color: var(--dark-bg);
    border-radius: 6px;
    position: relative;
}

.header-input input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 18px;
}

.header-input button{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--button-bg);
}

/* Introdução */
.int-bg{
    background: var(--purple-bg);
}

.int-content{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.int-content h1{
    color: var(--button-bg);
    font: 700 3rem/1.25 "Poppins", sans-serif;
}

.int-content p{
    color: var(--white);
    font: 400 1.125rem/1.35 'Roboto', sans-serif;
}

